aniso8601==9.0.1
blinker==1.8.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cryptography==41.0.5
cycler==0.12.1
et-xmlfile==1.1.0
Flask==3.0.3
Flask-RESTful==0.3.10
Flask_cors
fonttools==4.53.0
idna==3.4
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.5
lxml==4.9.3
MarkupSafe==2.1.5
matplotlib==3.9.0
numpy==1.26.4
openpyxl==3.1.2
packaging==24.1
pandas==2.2.2
Pillow==10.1.0
pycparser==2.21
pyparsing==3.1.2
pyspnego==0.10.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
requests-ntlm==1.2.0
requests-toolbelt==1.0.0
SharePlum==0.5.1
six==1.16.0
sspilib==0.1.0
tzdata==2024.1
urllib3==2.1.0
Werkzeug==3.0.3
XlsxWriter==3.2.0
azure-identity
azure-keyvault-secrets
azure-cosmos